{% extends 'base.html' %}

{% block content %}
    Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'users:change' %}">Change password</a>
    {% else %}
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:reset' %}">Reset password</a>
    {% endif %}
</div>

{% endblock %}