<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    {% block title %}
        <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block heading %}
        <h1>My cute site</h1>
        <br>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>